@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

:root {
    --primary-color: #0E7C7B;
    --secondary-color: #17BEBB;
    --accent1-color: #D4F4DD;
    --accent2-color: #D62246;

    --heading-font: Times New Roman, serif;
    --paragraph-font: Arial, serif;

    --nav-background-color: #d4e3d3;
    --nav-link-color: #2e3fff;
    --nav-hover-link-color: #521d45 ;
    --nav-hover-background-color: #817ed9;

    --box-background-color: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1000px;
}

body {
    font-family: var(--paragraph-font);
    min-width: 840px;
    max-width: 840px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: grid;
    grid-template-columns: 200px auto 1fr;
    padding: 10px;
    background-color: var(--accent1-color);
    margin: 1rem auto;
    align-items: center;
    max-width: 1000px;
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
}

p {
    padding: 5px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
  }
  
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

#losing-it {
    display: flex;
    flex-direction: row;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

.five {
    width: 20%;
}

.three {
    width: 30%;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.left-caption {
    text-align: left;
}

section {
    background-color: var(--accent1-color);
    margin: 10px;
    text-align: center;
}


footer {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--accent1-color);
    margin-top: 1rem;
    overflow: auto;
}

form {
    width: 650px;
    margin: 0 auto;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }

  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

table {
    font-family: var(--paragraph-font);
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
}

td {
    font-weight: normal;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

tr:first-child{
    font-weight: bold;
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



#copyright {
    align-self: center;
}

#title {
    position: absolute;
    z-index: 1;
    top: 225px;
    width: 800px;
    text-align: center;
    align-self: center;
    background-color: var(--box-background-color);
}

#harold {
    width: 20%;
    height: auto;
    float: right;
    clear:none;
    margin: 8px;
}

.rafting-photos {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: var(--accent1-color);
}


.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgb(93, 163, 228, 50%);
    color: #000;
    position: absolute;
    bottom: 150px;
    left: 80px;
    overflow: auto;
    width: 700px;
    font-size: 1.5rem;
}